<h1>Add book</h1>

<p>Here you can add a new book to the library. Please insert book data.</p>

<div class="container">
  <div class="row">
    <form class="form-group col-md-6" #formBook="ngForm">
      <div class="form-group">
        <label>Book Title</label>
        <input class="form-control form-control-lg" placeholder="Title" name="bookTitle"
               [ngModel]="bookForm?.title" (ngModelChange)="bookForm.title = $event" required>
      </div>

      <div class="form-group">
        <label>Publication year</label>
        <input class="form-control form-control-lg" placeholder="Book publication year" name="publicationYear"
               [ngModel]="bookForm?.publicationYear" (ngModelChange)="bookForm.publicationYear = $event" type="number" required>
      </div>

      <div class="form-group">
        <label>Author</label>
        <select class="form-control dropdown-toggle" [(ngModel)]="selectedIdx" [ngModelOptions]="{standalone: true}">
          <option [ngValue]="null"></option>
          <option *ngFor="let author of service.authors; let i = index" [ngValue]="i">{{author.name}} {{author.surname}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Description</label>
        <input class="form-control form-control-lg" placeholder="Book short description" name="bookDescription"
               [ngModel]="bookForm?.description" (ngModelChange)="bookForm.description = $event" required>
      </div>

      <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" (click)="addBook()" [disabled]="(formBook.invalid || selectedIdx == null)">Add book</button>
      </div>
    </form>

    <form #formAuthor="ngForm" class="form-group col-md-6">
      <div class="form-group">
        <label>Author first name</label>
        <input class="form-control form-control-lg" placeholder="First name" name="authorName"
               [ngModel]="authorForm?.name" (ngModelChange)="authorForm.name = $event" required>
      </div>
      <div class="form-group">
        <label>Author surname</label>
        <input class="form-control form-control-lg" placeholder="Surname" name="authorSurname"
               [ngModel]="authorForm?.surname" (ngModelChange)="authorForm.surname = $event" required>
      </div>
      <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" (click)="addAuthor()" [disabled]="formAuthor.invalid">Add author</button>
      </div>
    </form>

  </div>
</div>
