<h1 id="tableLabel">Books collection</h1>

<p *ngIf="!service.books"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="service.books">
  <thead>
    <tr>
      <th>
      <div class="d-flex flex-row">
        <input [(ngModel)]="authorFilter" class="form-control" placeholder="Filter authors" (keyup)="filterBooks()"/>
      </div>
      Author
      </th>
      <th>
        <div class="d-flex flex-row">
          <input [(ngModel)]="titleFilter" class="form-control" placeholder="Filter titles" (keyup)="filterBooks()" />
        </div>
        Title
      </th>
      <th>
        <div class="d-flex flex-row">
          <input [(ngModel)]="publicationYearFilter" class="form-control" placeholder="Filter years" (keyup)="filterBooks()" />
        </div>
        Publication year
      </th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of filtredBooks">
      <td>{{ book.author.name }} {{book.author.surname}}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.publicationYear }}</td>
      <td>{{ book.description }}</td>
      <td><button style="border: none; color:red; background: none;" (click)="deleteBook(book.bookId)">Delete</button></td>
    </tr>
  </tbody>
</table>
