<h1>Hello!</h1>
<p>This is simple library page. You can browse collection or add new authors and books:</p>
<ul>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link" [routerLink]="['/add-book']">Add book or author</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link" [routerLink]="['/books-collection']">Browse collection</a>
  </li>
</ul>
